In [ ]:
# Importando as bibliotecas necessárias
import pandas as pd
from db import connection

In [ ]:
# Criando a conexão com o banco de dados e um cursor
conn = connection()  # Chama a função

if conn is not None:
    cursor = conn.cursor()
    cursor.close()
    conn.close()
else:
    print("Não foi possível conectar ao banco.")

In [11]:
# Criando d dataframe a partir do arquivo CSV
df = pd.read_csv('b3_stocks_1994_2020.csv')

In [12]:
# printando as primeiras linhas do dataframe
print(df.head())

     datetime ticker    open   close    high     low    volume
0  1994-07-04  ACE 3   48.00   48.00   48.00   47.00   46550.0
1  1994-07-04  ALP 3  155.27  156.00  156.00  155.27  163405.8
2  1994-07-04  ALP 4  131.00  131.00  131.00  131.00    6550.0
3  1994-07-04  IBP 6  600.00  600.00  600.00  600.00    7800.0
4  1994-07-04  AQT 4    0.89    0.99    0.99    0.85   13137.0

In [ ]:
# Exibendo o número de linhas e colunas do dataframe
print(f"linhas: {df.shape[0]}\ncolunas: {df.shape[1]}")

In [13]:
# Exibindo os nomes das colunas do dataframe
print(f"Colunas: {df.columns.tolist()}")

Colunas: ['datetime', 'ticker', 'open', 'close', 'high', 'low', 'volume']

In [ ]:
print(df.describe())

In [ ]:
# Exibe a média do preço de fechamento da ação BBAS3
print(df.loc[df['ticker']=='BBAS3','close'].mean())

25.609224489795913