In [ ]:
# Importando as bibliotecas necessárias
import pandas as pd
from db import connection

In [3]:
# Criando a conexão com o banco de dados e um cursor
conn = connection()  # Chama a função

if conn is not None:
    cursor = conn.cursor()
    cursor.close()
    conn.close()
else:
    print("Não foi possível conectar ao banco.")

Conexão estabelecida com sucesso.

In [4]:
# Criando d dataframe a partir do arquivo CSV
df = pd.read_csv('b3_stocks_1994_2020.csv')

In [5]:
# printando as primeiras linhas do dataframe
print(df.head())

     datetime ticker    open   close    high     low    volume
0  1994-07-04  ACE 3   48.00   48.00   48.00   47.00   46550.0
1  1994-07-04  ALP 3  155.27  156.00  156.00  155.27  163405.8
2  1994-07-04  ALP 4  131.00  131.00  131.00  131.00    6550.0
3  1994-07-04  IBP 6  600.00  600.00  600.00  600.00    7800.0
4  1994-07-04  AQT 4    0.89    0.99    0.99    0.85   13137.0

In [6]:
# Exibendo o número de linhas e colunas do dataframe
print(f"linhas: {df.shape[0]}\ncolunas: {df.shape[1]}")

linhas: 1883203
colunas: 7

In [7]:
print(df.describe())

               open         close          high           low        volume
count  1.883203e+06  1.883203e+06  1.883203e+06  1.883203e+06  1.883203e+06
mean   6.814208e+01  6.827674e+01  6.882414e+01  6.754027e+01  1.668286e+07
std    1.689781e+03  1.695070e+03  1.699966e+03  1.683604e+03  1.026344e+08
min    1.000000e-02  0.000000e+00  1.000000e-02  1.000000e-02  0.000000e+00
25%    3.960000e+00  3.960000e+00  4.000000e+00  3.890000e+00  1.800500e+04
50%    1.369000e+01  1.370000e+01  1.392000e+01  1.345000e+01  2.526560e+05
75%    3.670000e+01  3.673000e+01  3.714000e+01  3.608000e+01  4.794014e+06
max    1.297776e+06  1.297776e+06  1.297776e+06  1.297776e+06  4.298380e+10